
@{
    ViewBag.Title = "Index";
}

<h2><strong>Welcome to the MIYC Harbor Master Registry</strong></h2>
<div>
    Click @Html.ActionLink("HERE", "List", "Crafts") to see view craft in the harbor.
</div>

